@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Inter:wght@300;400;600&display=swap");
@import "tailwindcss"; /* In v4, use this instead of @tailwind base/etc */

@theme {
  /* Colors */
  --color-brand-yellow: #ffb22c;
  --color-secundary-yellow: #fde68a;
  --color-brand-brown: #854836;
  --color-brand-brown-secondary: #9a5a46;
  --color-brand-brown-tertiary: #f3e6df;

  /* Mapping HSL variables to theme colors */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-yellow-primary: var(--color-brand-yellow);
  --color-yellow-secundary: var(--color-secundary-yellow);
  --color-brown-primary: var(--color-brand-brown);
  --color-brown-secondary: var(--color-brand-brown-secondary);
  --color-brown-tertiary: var(--color-brand-brown-tertiary);
  /* Fonts */
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

:root {
  --background: 30 25% 97%;
  --foreground: 24 10% 10%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
  }
}

@layer base {
  body {
    /* Now these will work because they are defined in @theme above */
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-display;
  }
}
